.container-resume {
    background-color: #C9CEC9;
    width: 900px;
    margin: auto;
    padding: 50px;
}

strong {
    color: #1E2A5F;
}

hr {
    color: #55555;
    background-color: #555555;
    margin: 25px 0;
    height: 1px;
    opacity: .5;
}

body {
    font-family: 'Playfair', serif;
    background-color: #C3996B;
}

div {
    

}

h1 {
    color: #000000;
    font-family: 'Josefin', serif;
}

h2 {
    color: red;
    
}

h3 {
    headline-sub
}

section {

}

article {

}

p {
    font-weight: 600;

}

b {
   font-weight: 1000;
   color: #1E2A5F;

}

ul {
    list-style-type: square;
    margin: 10
    padding: 5
}

li {

}

footer { 
    display: block;
}

/* class= "background-color", "color", "margin", "hieght", "capacity"; */