body {
    background-color: #FFFFFF;
    padding:10px 5px 15px 20px;
 
}


ul {
    list-style-type: circle;
    margin: 10
    padding: 5
}


div {
    display: block;
}


span {

 }


p {
    font-size: 18px;
}


h1 {
    color: #000000;
    
}

h2 {
    color: #1E2A5F;
    
}

h3 {
   
    
}

h4 {
    color: #FF0000;
    font-size: 20px;
    font-weight: bold;
}
    
h5 {
    
    
}
    
h6 {

    
}