body {
    font-family: 'Playfair', serif;
    color: #1E2A5F;
}



}
div {
    display: block;

}

span {

 }

 ul {
    list-style-type: block;
    margin: 10
    padding: 5
}

article {

}

p {
    font-weight: 400;

}

b {
    

}


h1 {
    color: #000000;
    
}

h2 {
    color: #1E2A5F;
    
}

h3 {
   
    color:555655;
    
}

h4 {
    color: #FF0000;
    font-size: 20px;    
}
    
h5 {    
    
}
    
h6 {
    font-weight: 400;
    

    http://www.servsafe.com/home

    background-color: #FFFFFF;
    padding:10px 5px 15px 20px;
    background-image: url("http://yoursite.com/images/image_name.gif");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

footer { 
    display: block;
}