body {
    background-color: #DDDDDD;
}


div {
    display: block;
}

span {

 }

p {
    font-size: 18px;
}

h1 {
    color: #BF5700;
    
}

h2 {
    color: #BF5700;
    
}

h3 {
   
    
}

h4 {
    color: #1E2A5F;
    font-size: 20px;
    font-weight: bold;
}
    
h5 {
    
    
}
    
h6 {
    
}